<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h1 class="text-3xl font-bold underline"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button class="bg-blue-500 active:bg-blue-600 text-white px-4 py-2 rounded">
      Sign up
    </button>
  </body>
</html>
