<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="dark:bg-zinc-900 dark:text-white">
    <% if (typeof(user) !== 'undefined') { %>
    <a href="/logout"
      ><button
        class="bg-blue-500 active:bg-blue-600 text-white px-4 py-2 rounded"
        type="button"
      >
        Sign Out
      </button></a
    >
    <% } else { %>
    <a href="/sign-in"
      ><button
        class="bg-blue-500 active:bg-blue-600 text-white px-4 py-2 rounded"
        type="button"
      >
        Sign in
      </button></a
    >
    <a href="/sign-up"
      ><button
        class="bg-blue-500 active:bg-blue-600 text-white px-4 py-2 rounded"
        type="button"
      >
        Sign up
      </button></a
    >
    <% } %>

    <h1 class="text-3xl font-bold underline"><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
