* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand {
  font-family: 'Poppins', sans-serif;
}

.custom-bg {
  background: url('../images/bg-sign-in.jpg') center 30% / cover no-repeat,
    linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.7) 70px,
      transparent 200px,
      transparent
    );

  background-blend-mode: overlay;
  z-index: -1000;
}
